<%- include('./head.ejs') %>
   
</head>

    <body>
       <%- include('./banner.ejs') %>

<div class="search-bar">
  <form action="/search" method="GET">
    <input type="text" name="query" placeholder="Search books..." required>
    <button type="submit">Search</button>
  </form>
</div>
        <main class="cart">
                    
            <% if (products.length > 0) { %>
              <div class="title"><h1 class="arimo-regular">SHOPPING CART</h1></div>
            <div class="table-wrapper">

            <table >
                 <thead>
  <tr style="width:100%">
    <th style="width:15%">Image</th>
    <th>Title</th>
    <th>Price</th>
    <th>Quantity</th>
        <th>Total</th>

    <th style="width:10%">Delete</th>
  </tr>
   </thead>
 
 
                
                    <% products.forEach(p => { %>
                    <tbody>    
                        
        <tr >               
    <td>              
 <img src="<%= p.imageUrl %>" alt="<%= p.title %>">
</td>
    <td><%= p.title %></td>
    <td>$<%= p.price %></td>
                <td><%= p.qty %></td>                
                  <td>$<%= p.qty * p.price %></td>                

 
            <td > 
                                <input class="delete0" type="hidden" value="<%= p.productId %>" name="productId">
                                <button class="btn" type="submit" onclick="deleteProduct(this)">X</button>
                                      
                           </td>
                            </tr>
                     
                         
                        </div >
</tbody>
                    <% }) %>
                    
             </table>
             </div>
             <div class="totalPrice">
             <div class="total">Total Price:<span class="priceT"> $<%= cart.totalPrice %></span></div>
                <form action="/order" method="POST">
                               
                                <button class="btnOrder" type="submit" >Order now!</button>
                            </form>
                            <form action="/create-checkout-session" method="POST">
  <button class="btnOrder" type="submit">Pay Now</button>
</form>

            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
            
        </main>

             <%- include('./footer.ejs') %>
    </body>
   </html> 
        <%- include('./end.ejs') %>
                            <script src="/js/js.js"></script>
                                                <script src="/js/banner.js"></script> 
    