<%- include('./head.ejs') %>
</head>

<body>
    
<section class="banner">
      <div class="bookish">Bookish.com</div>
      <div class="linkss">
        <div class="menu-icon" id="menu-icon">☰</div>
   <ul class="nav-links" id="nav-links">
     <li>
    <a href="/">Home</a>
  </li>
    <li>
    <a href="/admin/add-product">Add Product</a>
  </li>

<li>
    <a href="/admin/products">My Books</a>
   </li>
    
    <li>Contact Us</li>
    <% if (user) { %>
  <li >
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </li>
<% } else { %>
  <li class="button">
    <a href="/signup">Signup</a>
  </li>
  <li class="button">
    <a href="/login">Login</a>
  </li>
<% } %>
 
    
   </ul>
</div>

</section>
<div class="search-bar">
  <form action="/search" method="GET">
    <input type="text" name="q" placeholder="Search books..." required>
    <button type="submit">Search</button>
  </form>
</div>

        <main class="admin">
<h1 class="arimo-regular"> MY BOOKS</h1>
            <% if (prods.length > 0) { %>
                <div class="gridd">
                    <% for (let product of prods) { %>
                        <!--<article class="card product-item">
                            <header class="card__header">-->
                                <div class="gridd-items">
                                    <div>
                                 
                                    <%= product.title %>
                               
                                </div>
                            <!--</header>-->
                            <div class="card_image">
                                                              <a href="/products/<%= product._id %>">

                                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                                              </a>
                            </div>
                            <div class="product_description">
                                  <p>  <%= product.description %></p>
                            </div>
                            <div class="card_content">
                                <h2 class="product_price">$
                                    <%= product.price %>
                                </h2>
                                
                            </div>
                           <div class="card_actions">
                                    <a href="/admin/edit-product/<%= product._id %>" class="btn">Edit</a>
                                    <!--<form action="/admin/delete-product" method="POST">
                                        <input class="delete0" type="hidden" value="<%= product._id %>" name="productId">
                                        <button class="btn" type="submit" onclick="deleteProduct(this)">Delete</button>
                                    </form>-->
                                    
                                        <input class="delete0" type="hidden" value="<%= product._id %>" name="productId">
                                        <button class="btn" type="submit" onclick="deleteProduct(this)">Delete</button>
                                    
                           </div>
                            </form>

                           

                            </div>
                        
                        <% } %>
                </div>
                
                <% } else { %>
                    <h1>No Products Found!</h1>
                    <% } %>
        </main>
                  <%- include('./footer.ejs') %>  

        <%- include('./end.ejs') %>   
                    <script src="/js/banner.js"></script> 
                                        <script src="/js/js1.js"></script>   