<%- include('./head.ejs') %>
</head>

<body>
    <section class="banner">
   <ul class="nav-links">
 
  <li>
    <a href="/products">Books</a>
  </li>
<% if (user) { %>
<li>
    <a href="/cart">My Cart</a>
   </li><% } %>
    <li>Contact Us</li>
  <% if (user) { %>
  <li >
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </li>
<% } else { %>
  <li class="button">
    <a href="/signup">Signup</a>
  </li>
  <li class="button">
    <a href="/login">Login</a>
  </li>
<% } %>


   
     
    
   </ul>

</section>
<div class="search-bar">
  <form action="/search" method="GET">
    <input type="text" name="q" placeholder="Search books..." required>
    <button type="submit">Search</button>
  </form>
</div>
        <main class="main-container">
        
                    <div class="title"><h1 class="arimo-regular">PRODUCTS</h1></div>
      <h1>Search results for "<%= query %>"</h1>

<% if (books.length > 0) { %>
                <div class="grid">

                    <% for (let product of books) { %>
                        <div class="grid-items">
                        <div class="product__title">
                                 
                                    <%= product.title %>
                                
                                </div>
                            <div class="card__image">
                                <a href="products/<%= product._id %>">
                                <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">

                                </a>
                                
                            </div>
                            <div class="card__content">
                                <h2 class="product__price">$
                                    <%= product.price %>
                                </h2>
                                
                            </div>
                            <!--<form action="/delete-product" method="POST">
                                <input type="hidden" value="<%= product._id %>" name="productId">
                                <button class="btn" type="button" >Delete</button>
                            </form>-->
                           <!-- <div class="card__actions">
                            <form action="/cart" method="post">
                                <input type="hidden" name="productId" value="<%= product._id %>">  
                                <button class="btn"  type="submit">Add to Cart</button>

                            </form>
                            </div>-->
                </div> 
                        <% } %>
                </div>
                <% } else { %>
                    <h1>No Products Found!</h1>
                    <% } %>
                  

                    
        </main>
                    <%- include('./footer.ejs') %>  

        <%- include('./end.ejs') %>   
                    <!--<script src="/js/admin.js"></script>-->    